html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-primary);
}


:root{
    /* colores */
    --color-primary: #f3f5fc;
    --color-secondary: #0A3871;
    --color-secondary-soft: #D8DFE8;
    --color-gray: #495057;
}

.logo{
    display: inline-block;
    width: 27px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(./../assets/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvasone{
    /* border: solid gold; */
    display: flex;
    margin: 15px auto;
}
.canvas1{
    /* border: salmon solid; */
    width: 100%;
    height: 450px;
}

.main-buttons--container{
    /* border: solid fuchsia; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buttons--container button{
    width: 270px;
    height: 60px;
    margin: 100px;
    border: solid 1px var(--color-secondary);
    border-radius: 6px;
    background-color: var(--color-secondary-soft);
}

#ngButton{
    font-size: 1.9rem;
    background-color: var(--color-secondary);
    color: white;
    cursor: pointer;
}

#adButton{
    font-size: 1.9rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.main-socialMedia{
    /* border: solid aqua; */
    width: 100%;
    height: 120px;
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-socialMedia span{
    width:  100px;
    height: 100px;
    display: inline-block;
}

#i{
    background-image: url(./../assets/icons/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#g{
    background-image: url(./../assets/icons/github.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#l{
    background-image: url(./../assets/icons/linkedin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}