html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-primary);
}


:root{
    /* colores */
    --color-primary: #f3f5fc;
    --color-secondary: #0A3871;
    --color-secondary-soft: #D8DFE8;
    --color-gray: #495057;
}

.logo{
    display: inline-block;
    width: 27px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(./../assets/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvasthree{
    /* border: solid gold; */
    display: flex;
    margin: 15px auto;
}
.canvas3{
    /* border: salmon solid; */
    width: 100%;
    height: 450px;
}

.entrada-input{
    /* border: solid peru; */
    width: 50%;
    height: 400px;
    margin: 10px auto;
}

.entrada-input input{
    border: none;
    width: 99%;
    height: 399px;
    background-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    color: #4CAF50;
    font-weight: 400;
    line-height: 48px;
}

.main-buttons--container{
    /* border: solid fuchsia; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.main-buttons--container button{
    width: 270px;
    height: 60px;
    margin: 100px;
    border: solid 1px var(--color-secondary);
    border-radius: 6px;
    background-color: var(--color-secondary-soft);
}

#anwButton{
    font-size: 1.9rem;
    background-color: var(--color-secondary);
    color: white;
    cursor: pointer;
}

#ngButton{
    font-size: 1.9rem;
    color: var(--color-secondary);
    cursor: pointer;
}

#anwButton:hover{
    background-color: #4CAF50;
    transition-duration: 0.4s;
    border: none;
    color: white;
}

#ngButton:hover{
    background-color:  #555555;
    transition-duration: 0.4s;
    color: white;
    border: none;
}